<div class="flex flex-col flex-auto max-h-160 -m-6 overflow-y-auto" style="width: 100%; min-width: 90vw" *transloco="let t">
     <div class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary text-on-primary">
          <div class="text-lg font-medium">{{ t("applyToJob") }}</div>
          <button mat-icon-button (click)="matDialogRef.close()" [tabIndex]="-1">
               <mat-icon class="text-current" [svgIcon]="'heroicons_outline:x'"></mat-icon>
          </button>
     </div>
     <ng-container *ngIf="mode == 'list'">
          <div class="ml-auto my-4 px-10">
               <button class="w-full" mat-flat-button [color]="'primary'" (click)="setMode('add')">{{ t("OrAddNewCV") }}</button>
          </div>
          <ul role="list" class="divide-y divide-gray-100 overflow-y-auto bg-white shadow-sm ring-1 ring-gray-900/5 sm:rounded-xl">
               <ng-container *ngFor="let cv of cvs">
                    <li class="relative flex justify-between gap-x-6 px-4 py-5 hover:bg-gray-50 sm:px-6 cursor-pointer" (click)="sendData(cv)">
                         <div class="flex min-w-0 gap-x-4">
                              <img
                                   *ngIf="cv.image"
                                   class="h-12 w-12 flex-none rounded-full bg-gray-50 object-cover"
                                   src="{{ cv.image.url }}"
                                   alt="" />
                              <svg class="text-gray-300" *ngIf="!cv.image" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true">
                                   <path
                                        fill-rule="evenodd"
                                        d="M18.685 19.097A9.723 9.723 0 0021.75 12c0-5.385-4.365-9.75-9.75-9.75S2.25 6.615 2.25 12a9.723 9.723 0 003.065 7.097A9.716 9.716 0 0012 21.75a9.716 9.716 0 006.685-2.653zm-12.54-1.285A7.486 7.486 0 0112 15a7.486 7.486 0 015.855 2.812A8.224 8.224 0 0112 20.25a8.224 8.224 0 01-5.855-2.438zM15.75 9a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0z"
                                        clip-rule="evenodd" />
                              </svg>
                              <div class="min-w-0 flex-auto">
                                   <p class="text-sm font-semibold leading-6 text-gray-900">
                                        <a routerlink="/">
                                             <span class="absolute inset-x-0 -top-px bottom-0"></span>
                                             {{ cv.user.name }}
                                        </a>
                                   </p>
                                   <p class="mt-1 flex text-xs leading-5 text-gray-500">
                                        <a href="mailto:{{ cv.user.username }}" class="relative hover:underline">{{ cv.user.username }}</a>
                                   </p>
                              </div>
                         </div>
                         <div class="flex shrink-0 items-center gap-x-4">
                              <div class="hidden sm:flex sm:flex-col sm:items-end">
                                   <p class="text-sm leading-6 text-gray-900">{{ cv.title[activeLang] }}</p>
                                   <p class="mt-1 text-xs leading-5 text-gray-500">{{ cv.salaryType }}</p>
                              </div>

                              <svg class="h-5 w-5 flex-none text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                   <path
                                        fill-rule="evenodd"
                                        d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                                        clip-rule="evenodd" />
                              </svg>
                         </div>
                    </li>
               </ng-container>
          </ul>
     </ng-container>
     <ng-container *ngIf="mode == 'add' || mode == 'edit'">
          <div class="ml-auto my-4 px-10">
               <button class="w-full" mat-flat-button [color]="'primary'" (click)="mode = 'list'">{{ t("OrSelectFromList") }}</button>
          </div>
          <form
               class="flex flex-col flex-auto items-start w-full p-6 sm:p-8 space-y-6 overflow-y-auto"
               [formGroup]="cvForm"
               novalidate
               (ngSubmit)="onSubmit()">
               <div class="w-full">
                    <div class="border-b border-gray-900/10 pb-12">
                         <div class="grid gap-x-6 gap-y-8 sm:grid-cols-3">
                              <div class="col-span-1">
                                   <label class="block text-md font-bold leading-6 text-gray-900">{{ t("photo") }}</label>
                                   <app-file-uploader
                                        (UploadedFile)="uploadImage($event)"
                                        (_deleteFile)="deleteImage($event)"
                                        [route]="'cvs'"
                                        [fileFilter]="'image/*'"
                                        [refId]="'image'"
                                        [image]="image"></app-file-uploader>
                              </div>
                              <div class="col-span-1">
                                   <label class="block text-md font-bold leading-6 text-gray-900">{{ t("coverImage") }}</label>
                                   <app-file-uploader
                                        (UploadedFile)="uploadCoverImage($event)"
                                        (_deleteFile)="deleteCoverImage($event)"
                                        [route]="'cvs'"
                                        [fileFilter]="'image/*'"
                                        [refId]="'coverImage'"
                                        [image]="coverImage"></app-file-uploader>
                              </div>
                              <div class="col-span-1">
                                   <label class="block text-md font-bold leading-6 text-gray-900">{{ t("video") }}</label>
                                   <app-video-uploader
                                        (UploadedFile)="uploadVideo($event)"
                                        (_deleteFile)="deleteVideo($event)"
                                        [route]="'cvs'"
                                        [refId]="'video'"
                                        [video]="video"></app-video-uploader>
                              </div>
                         </div>
                    </div>
                    <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
                         <mat-form-field class="sm:col-span-3">
                              <mat-label> {{ t("title") }} </mat-label>
                              <input
                                   matInput
                                   [formControl]="cvForm.get('title.' + activeLang)"
                                   placeholder="{{ 'title' | transloco }}"
                                   [spellcheck]="false" />
                              <mat-hint align="end">
                                   <a class="text-primary hover:cursor-pointer" (click)="openAddLang('title')"> {{ t("otherLanguages") }} </a>
                              </mat-hint>
                         </mat-form-field>
                         <mat-form-field class="sm:col-span-3">
                              <mat-label> {{ t("shortDescription") }}</mat-label>
                              <input
                                   matInput
                                   [formControl]="cvForm.get('shortDescription.' + activeLang)"
                                   placeholder="{{ 'shortDescription' | transloco }}"
                                   [spellcheck]="false" />
                              <mat-hint align="end">
                                   <a class="text-primary hover:cursor-pointer" (click)="openAddLang('shortDescription')">
                                        {{ t("otherLanguages") }}
                                   </a>
                              </mat-hint>
                         </mat-form-field>

                         <mat-form-field class="sm:col-span-2">
                              <mat-label> {{ t("location") }}</mat-label>
                              <input
                                   type="text"
                                   matInput
                                   [formControlName]="'location'"
                                   (focus)="onFocus('location', locations, 'name')"
                                   [matAutocomplete]="auto"
                                   required />
                              <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                                   <mat-option *ngIf="(filteredOptions | async)?.length <= 0"> No results found. </mat-option>
                                   <mat-option *ngFor="let option of filteredOptions | async" [value]="option._id">
                                        {{ option.name }}
                                   </mat-option>
                              </mat-autocomplete>
                         </mat-form-field>

                         <mat-form-field class="sm:col-span-1">
                              <mat-label> {{ t("category") }}</mat-label>
                              <mat-select [formControlName]="'category'">
                                   <ng-container *ngFor="let category of categories">
                                        <mat-option [value]="category._id">{{ category.title[activeLang] }} </mat-option>
                                   </ng-container>
                              </mat-select>
                         </mat-form-field>
                         <mat-form-field class="sm:col-span-1">
                              <mat-label> {{ t("type") }} </mat-label>
                              <mat-select [formControlName]="'types'" #roleSelect="matSelect" multiple>
                                   <ng-container *ngFor="let type of types">
                                        <mat-option [value]="type.name">
                                             <div>{{ type.name }}</div>
                                        </mat-option>
                                   </ng-container>
                              </mat-select>
                         </mat-form-field>
                         <mat-form-field class="sm:col-span-1">
                              <mat-label> {{ t("salaryType") }}</mat-label>
                              <mat-select [formControlName]="'salaryType'">
                                   <mat-option value="hourly">{{ t("hourly") }}</mat-option>
                                   <mat-option value="weekly"> {{ t("weekly") }}</mat-option>
                                   <mat-option value="monthly"> {{ t("monthly") }}</mat-option>
                                   <mat-option value="yearly"> {{ t("yearly") }}</mat-option>
                              </mat-select>
                         </mat-form-field>
                         <mat-form-field class="sm:col-span-1">
                              <mat-label> {{ t("expectedSalary") }}</mat-label>
                              <input
                                   matInput
                                   type="number"
                                   [formControlName]="'expectedSalary'"
                                   min="0"
                                   [placeholder]="'Expected Salary'"
                                   [spellcheck]="false" />
                         </mat-form-field>
                    </div>
                    <div class="flex">
                         <div class="w-1/2 pr-2">
                              <div class="space-y-4">
                                   <ng-container
                                        *ngFor="
                                             let cv of cvForm.get('educationHistory')['controls'];
                                             let i = index;
                                             let first = first;
                                             let last = last
                                        ">
                                        <div class="flex">
                                             <div class="w-full">
                                                  <h3 class="font-bold my-5">- {{ t("educationHistory") }}</h3>
                                                  <mat-form-field class="w-1/2 pr-1">
                                                       <mat-label *ngIf="first">{{ t("title") }}</mat-label>
                                                       <input
                                                            matInput
                                                            [formControl]="cv.get('title')"
                                                            placeholder="{{ 'title' | transloco }}"
                                                            [spellcheck]="false" />
                                                  </mat-form-field>
                                                  <mat-form-field class="w-1/2 pl-1">
                                                       <mat-label *ngIf="first">{{ t("schoolName") }}</mat-label>
                                                       <input
                                                            matInput
                                                            [formControl]="cv.get('schoolName')"
                                                            placeholder="{{ 'schoolName' | transloco }}" />
                                                  </mat-form-field>
                                                  <mat-form-field class="w-1/2 pr-1 pt-2">
                                                       <mat-label *ngIf="first">{{ t("startDate") }}</mat-label>
                                                       <input
                                                            matInput
                                                            [matDatepicker]="birthdayDatepicker2"
                                                            [formControl]="cv.get('startDate')"
                                                            placeholder="{{ 'startDate' | transloco }}" />
                                                       <mat-datepicker-toggle matSuffix [for]="birthdayDatepicker2"> </mat-datepicker-toggle>
                                                       <mat-datepicker #birthdayDatepicker2 disabled="false"></mat-datepicker>
                                                  </mat-form-field>
                                                  <mat-form-field class="w-1/2 pl-1">
                                                       <mat-label *ngIf="first">{{ t("endDate") }}</mat-label>
                                                       <input
                                                            matInput
                                                            [matDatepicker]="birthdayDatepicker"
                                                            [formControl]="cv.get('endDate')"
                                                            placeholder="{{ 'endDate' | transloco }}" />
                                                       <mat-datepicker-toggle matSuffix [for]="birthdayDatepicker"> </mat-datepicker-toggle>
                                                       <mat-datepicker #birthdayDatepicker disabled="false"></mat-datepicker>
                                                  </mat-form-field>
                                                  <mat-form-field class="w-full">
                                                       <mat-label>{{ t("details") }}</mat-label>
                                                       <textarea
                                                            matInput
                                                            [formControl]="cv.get('details')"
                                                            placeholder="{{ 'details' | transloco }}"
                                                            [rows]="5"
                                                            autocomplete="off"></textarea>
                                                  </mat-form-field>
                                                  <ng-container *ngIf="!(first && last)">
                                                       <div class="flex items-center w-10 pl-2" [ngClass]="{ 'mt-6': first }">
                                                            <button
                                                                 class="w-8 h-8 min-h-8"
                                                                 mat-icon-button
                                                                 matTooltip="Remove"
                                                                 (click)="removeEducationHistory(i)">
                                                                 <mat-icon class="text-red-600">delete</mat-icon>
                                                            </button>
                                                       </div>
                                                  </ng-container>
                                             </div>
                                        </div>
                                   </ng-container>
                              </div>
                              <button type="button" class="text-sm" mat-flat-button [color]="'accent'" (click)="AddEducationHistory()">
                                   {{ t("cvpage1") }}
                              </button>
                         </div>
                         <div class="w-1/2 pl-2">
                              <div class="space-y-4">
                                   <ng-container
                                        *ngFor="let cv of cvForm.get('jobHistory')['controls']; let i = index; let first = first; let last = last">
                                        <div class="flex">
                                             <div class="w-full">
                                                  <h3 class="font-bold my-5">- {{ t("jobHistory") }}</h3>
                                                  <mat-form-field class="w-1/2 pr-1">
                                                       <mat-label *ngIf="first">{{ t("title") }}</mat-label>
                                                       <input
                                                            matInput
                                                            [formControl]="cv.get('title')"
                                                            placeholder="{{ 'title' | transloco }}"
                                                            [spellcheck]="false" />
                                                  </mat-form-field>
                                                  <mat-form-field class="w-1/2 pl-1">
                                                       <mat-label *ngIf="first">{{ t("companyName") }}</mat-label>
                                                       <input
                                                            matInput
                                                            [formControl]="cv.get('companyName')"
                                                            placeholder="{{ 'companyName' | transloco }}" />
                                                  </mat-form-field>
                                                  <mat-form-field class="w-1/2 pr-1 pt-2">
                                                       <mat-label *ngIf="first"> {{ t("startDate") }}</mat-label>
                                                       <input
                                                            matInput
                                                            [matDatepicker]="birthdayDatepicker2"
                                                            [formControl]="cv.get('startDate')"
                                                            placeholder="{{ 'startDate' | transloco }}" />
                                                       <mat-datepicker-toggle matSuffix [for]="birthdayDatepicker2"> </mat-datepicker-toggle>
                                                       <mat-datepicker #birthdayDatepicker2 disabled="false"></mat-datepicker>
                                                  </mat-form-field>
                                                  <mat-form-field class="w-1/2 pl-1">
                                                       <mat-label *ngIf="first"> {{ t("endDate") }}</mat-label>
                                                       <input
                                                            matInput
                                                            [matDatepicker]="birthdayDatepicker"
                                                            [formControl]="cv.get('endDate')"
                                                            placeholder="{{ 'endDate' | transloco }}" />
                                                       <mat-datepicker-toggle matSuffix [for]="birthdayDatepicker"> </mat-datepicker-toggle>
                                                       <mat-datepicker #birthdayDatepicker disabled="false"></mat-datepicker>
                                                  </mat-form-field>
                                                  <mat-form-field class="w-full">
                                                       <mat-label>{{ t("details") }} </mat-label>
                                                       <textarea
                                                            matInput
                                                            [formControl]="cv.get('details')"
                                                            placeholder="{{ 'details' | transloco }}"
                                                            autocomplete="off"
                                                            [rows]="5"></textarea>
                                                  </mat-form-field>
                                                  <ng-container *ngIf="!(first && last)">
                                                       <div class="flex items-center w-10 pl-2" [ngClass]="{ 'mt-6': first }">
                                                            <button
                                                                 class="w-8 h-8 min-h-8"
                                                                 mat-icon-button
                                                                 matTooltip="Remove"
                                                                 (click)="removeJobHistory(i)">
                                                                 <mat-icon class="text-red-600">delete</mat-icon>
                                                            </button>
                                                       </div>
                                                  </ng-container>
                                             </div>
                                        </div>
                                   </ng-container>
                              </div>
                              <button type="button" class="text-sm" mat-flat-button [color]="'accent'" (click)="AddJobHistory()">
                                   {{ t("addJobHistory") }}
                              </button>
                         </div>
                    </div>
                    <div class="mt-16 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
                         <mat-form-field class="col-span-3" [subscriptSizing]="'dynamic'">
                              <mat-label> {{ t("description") }}</mat-label>
                              <textarea
                                   matInput
                                   [formControl]="cvForm.get('description.' + activeLang)"
                                   placeholder="{{ 'description' | transloco }}"
                                   [rows]="9"></textarea>
                              <mat-hint align="end">
                                   <a class="text-primary hover:cursor-pointer" (click)="openAddLang('description')"> {{ t("otherLanguages") }} </a>
                              </mat-hint>
                         </mat-form-field>
                         <div class="col-span-3">
                              <label class="block text-md font-medium">{{ t("attachFiles") }}</label>
                              <app-files-uploader
                                   (UploadedFiles)="getDocuments($event)"
                                   (_deleteFile)="deleteDocument($event)"
                                   [route]="'projects'"
                                   [images]="files"></app-files-uploader>
                         </div>
                    </div>
               </div>
               <div class="flex w-full items-center px-10 border-t py-2 pt-6 mt-10">
                    <button class="mr-auto" mat-button type="button" (click)="matDialogRef.close()">Cancel</button>
                    <button class="ml-auto" mat-flat-button [color]="'primary'" type="submit" [disabled]="cvForm.invalid">Save & Apply</button>
               </div>
          </form>
     </ng-container>
</div>
