<ng-container *ngIf="mode == 'list'">
     <div class="ml-auto w-36" *transloco="let t">
          <button class="mb-4 w-full" mat-flat-button [color]="'primary'" (click)="mode = 'add'">{{ t("postNewJob") }}</button>
     </div>
     <ul role="list" class="divide-y divide-gray-100" *transloco="let t">
          <ng-container *ngIf="jobs.length > 0; else noData">
               <ng-container *ngFor="let job of jobs; let i = index">
                    <li class="flex items-center justify-between gap-x-6 py-5 cursor-pointer" (click)="sendData(job)">
                         <div class="min-w-0">
                              <div class="flex items-start gap-x-3">
                                   <p class="text-sm font-semibold leading-6 text-gray-900">{{ job.title[activeLang] }}</p>
                                   <p
                                        class="rounded-md whitespace-nowrap mt-0.5 px-1.5 py-0.5 text-xs font-medium ring-1 ring-inset text-gray-600 bg-gray-50 ring-gray-500/10">
                                        {{ job.category.title[activeLang] }}
                                   </p>
                              </div>
                              <div class="mt-1 flex items-center gap-x-2 text-xs leading-5 text-gray-500">
                                   <p class="whitespace-nowrap">
                                        <time datetime="2023-05-05T00:00Z">{{ job.createdAt | date }}</time>
                                   </p>
                                   <svg viewBox="0 0 2 2" class="h-0.5 w-0.5 fill-current">
                                        <circle cx="1" cy="1" r="1" />
                                   </svg>
                                   <p class="truncate">{{ t("CreatedBy") }} {{ job.user.name }} {{ job.user.lastname }}</p>
                              </div>
                         </div>
                         <div class="flex flex-none items-center gap-x-4">
                              <a
                                   (click)="sendData(job)"
                                   class="hidden rounded-md bg-white px-2.5 py-1.5 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 sm:block">
                                   {{ t("viewJob") }}<span class="sr-only">,{{ t("newBenefitsPlan") }}</span></a
                              >
                         </div>
                    </li>
               </ng-container>
          </ng-container>
          <ng-template #noData>
               <div class="text-center border border-dashed border-gray-500 p-6 rounded-xl">
                    <svg class="mx-auto h-12 w-12 text-gray-400" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                         <path
                              vector-effect="non-scaling-stroke"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                              stroke-width="2"
                              d="M9 13h6m-3-3v6m-9 1V7a2 2 0 012-2h6l2 2h6a2 2 0 012 2v8a2 2 0 01-2 2H5a2 2 0 01-2-2z" />
                    </svg>
                    <h3 class="mt-2 text-sm font-semibold text-gray-900">{{ t("noAddedJobs") }}</h3>
                    <p class="mt-1 text-sm text-gray-500">{{ t("getStartedByCreating") }}</p>
                    <div class="mt-6">
                         <button type="button" [color]="'primary'" (click)="mode = 'add'" mat-flat-button>
                              {{ t("newJob") }}<mat-icon>add</mat-icon>
                         </button>
                    </div>
               </div>
          </ng-template>
     </ul>
</ng-container>
<ng-container *ngIf="mode == 'add' || mode == 'edit'">
     <app-jobs-single-page class="w-full" [data]="singleJobData"></app-jobs-single-page>
</ng-container>
